// If you want to overwrite any function/mixins/variables of valo, do it here.

@import '../valo/valo';
@import "../_shared/login";

@mixin wsellfiliates{
  @include valo;

  /* An actual theme rules below */
  @include login;

  .create-affiliate-window {
      width: 30%;
  }
  .create-affiliate-window[width-range~="0-300px"] {
    width: 90%;
  }

  .total-footer-grid{
    text-align: right;
  }


  .search-filter-elements{
    // display: block;
    margin: 3px;
  }

}
