@import "variables";

@mixin login {

  .labels {
    display: block;

    .h4 {
      margin: 0;
      vertical-align: baseline;
    }

    .h3 {
      margin: 0;
      float: right;
    }
  }

  .login-panel {
    background-color: white;
  }

}
